@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway);

body {
    padding-top: 75px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navbar-brand {
    font-family: "Raleway", 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.navbar-default {
    border: none;
    background: #ffffff;
}

.jumbotron {
    background: #ffffff;   
}

.jumbotron h1 {
    font-weight: 300;
    color: #555;   
}

.tagline h2 {
    font-weight: 300;
    color: #333;   
}

.tagline p {
    font-size: 21px;
    font-weight: 200;
}

.features {
    padding: 75px 0;    
}

.feature {
    padding-top: 55px;
}

.feature h2 {
    font-weight: 300;
    color: #333;
}

.feature p {
    font-size: 18px;
    font-weight: 200;
}

.feature i {
    font-size: 78px;
}

@media all and (min-width: 768px) {
    .navbar-brand {
        min-height: 75px !important;
        padding: 35px 0;
    }
    .navbar-default {
        min-height: 75px !important;
    }
    .navbar-default .navbar-collapse > .navbar-nav > li > a {
        padding: 35px 15px;
    }
    .jumbotron {
        padding: 88px 0;
    }
    .jumbotron p {
        padding: 20px 0;
    }
}

@media all and (max-width: 768px) {
    .jumbotron {
        padding: 45px 0;
    }
}